# 1. Bỏ qua Chứng chỉ và Private Keys (TUYỆT ĐỐI BẢO MẬT)
*.pem
*.key
*.crt

# 2. Bỏ qua file rác và file log
tcp_dump.txt
*.tar.gz

# 3. Bỏ qua file Build của Android (Nặng và không cần thiết)
App_Android/build/
App_Android/app/build/
App_Android/.idea/
App_Android/.gradle/
App_Android/local.properties

# 4. Bỏ qua file thực thi (binary) của Go
quic_server/quic_server
quic_server_bin
*.exe
*.exe~
*.dll
*.so
*.dylib

# 5. Bỏ qua file cấu hình nhạy cảm chứa IP/Pass/Port (KÉT SẮT)
quic_server/config.json
App_Android/transfer_server/app/src/main/assets/config.json

# 6. Logs & OS metadata
quic.log
*.log
.DS_Store
Thumbs.db

#7. Bo push file .gitignore va file script chay push.sh len github
.gitignore
push.sh